# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
media/

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Database (опционально - если не хотите делиться базой)
# *.db
